[user]
  email = pixelsallover@gmail.com
  name = Anup Bishnoi

[alias]
  s = status -s
  cl = clone
  d = diff
  dc = diff --cached
  di = diff --no-index
  sh = show
  co = checkout
  cob = checkout -b
  a = add
  ap = add -p
  st = stash
  stl = stash list
  stp = stash pop
  sts = stash show
  stc = stash clear
  c = commit --verbose
  cm = commit -m
  cam = commit -a -m
  cc = commit --verbose --amend
  ca = commit --verbose -a
  cp = cherry-pick
  p = push
  b = branch
  bd = branch --delete
  bD = branch -D
  l = log --pretty=format:\"%Cgreen%ad %Creset%s%Cgreen%d %Cblue- %an %Cgreen%h\" --graph --date=short
  r = reset
  rs = reset --soft
  rh = reset --hard
  rsh = reset --soft HEAD^
  rhh = reset --hard HEAD
  rp = reset -p
  rev = rev-parse
  cat = cat-file -p
  pl = pull
  pom = pull origin master
  type = cat-file -t
  m = merge --no-ff
  mf = merge --ff
  ri = rebase -i
  rim = rebase -i master
  ra = rebase --abort
  rc = rebase --continue

[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
