[alias]
  s = status -s
  f = fetch
  cl = clone
  d = diff
  dc = diff --cached
  di = diff --no-index
  dm = diff master..HEAD
  dms = diff master..HEAD --stat
  sh = show
  cfs = diff --name-only --diff-filter=U
  co = checkout
  cob = checkout -b
  a = add
  ap = add -p
  st = stash
  stl = stash list
  stp = stash pop
  sts = stash show -p
  stss = stash show -p --stat
  stc = stash clear
  c = commit --verbose
  cm = commit -m
  cam = commit -a -m
  ca = commit --verbose -a
  cc = commit --verbose --amend
  cu = config user.name
  ce = config user.email
  cp = cherry-pick
  p = push
  b = branch
  bd = branch --delete
  bD = branch -D
  l = log --pretty=format:\"%Cgreen%ad %Creset%s%Cgreen%d %Cblue- %an %Cgreen%h\" --graph --date=short
  lp = log -p
  r = reset
  rs = reset --soft
  rh = reset --hard
  rsh = reset --soft HEAD^
  rhh = reset --hard HEAD
  rp = reset -p
  rev = rev-parse
  cat = cat-file -p
  pl = pull --rebase
  pom = pull origin master
  type = cat-file -t
  m = merge --no-ff
  mf = merge --ff
  rb = rebase
  ri = rebase -i
  rim = rebase -i master
  ra = rebase --abort
  rc = rebase --continue

[core]
  excludesfile = ~/.gitignore
[push]
  default = current
[merge]
  renamelimit = 3000
