# arrow up
"\e[A": history-search-backward

# arrow down
"\e[B": history-search-forward

# <c-h> (which is also ctrl-backspace to delete word)
"\C-h": backward-kill-word

set completion-ignore-case on
