# arrow up
"\e[A": history-search-backward

# arrow down
"\e[B": history-search-forward

# <c-j> to run a command with "time" prepended
"\C-j": "\C-atime \C-m"

# <c-h> (which is also ctrl-backspace to delete word)
"\C-h": backward-kill-word

set completion-ignore-case on

