snippet { "curlies" b
{
	${0://}
}
endsnippet

snippet eq "assert equal" b
Assert.AreEqual($0);
endsnippet

snippet test "unit test" b
[Test]
public void $1()
{
	$0
}
endsnippet

snippet dl "Debug.Log" b
Debug.Log(${0:$"$1"});
endsnippet

snippet tos "ToString method" b
public override string ToString()
{
	${1:return "$0";}
}
endsnippet

snippet ns "namespace" b
namespace $1
{
	$0
}
endsnippet
